<aside class="bg-dark extra-padding-top">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Available events</h2>
            <div class="row">
                <form class="form-inline">
                    <div class="col-lg-9">
                        <div class="form-group-lg" ng-show="!$ctrl.showMap">
                            <label for="query" class="text-faded">Search events: </label>
                            <input class="form-control" id="query" type="text" ng-model="query">
                        </div>
                    </div>
                </form>
                <div class="col-lg-3 pull-right">
                    <a class="btn btn-primary btn-xl pull-right" ng-click="$ctrl.myMap()">
                        <span ng-if="$ctrl.showMap">List</span>
                        <span ng-if="!$ctrl.showMap">Map</span>
                        View</a>
                </div>
            </div>
        </div>
    </div>
</aside>

<section class="no-padding" ng-show="!$ctrl.showMap">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6" ng-repeat="event in $ctrl.events | filter: query"
                 ng-click="$ctrl.details(event)">
                <a ng-click="$ctrl.newEvent()" class="portfolio-box">
                    <img ng-src="{{event.offer.imagePath}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{event.language.name}}
                            </div>
                            <div class="project-name">
                                {{event.name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" ng-show="$ctrl.showMap">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div id="googleMap"></div>
        </div>
    </div>
</section>
