<aside class="bg-dark extra-padding-top">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{$ctrl.singleEvent.name}}</h2>
        </div>
    </div>
</aside>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="light">
                <img class="single-event-img" ng-src="{{$ctrl.singleEvent.offer.imagePath}}" alt="Restaurant Logo">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                         aria-valuenow="$ctrl.getProgress()"
                         aria-valuemin="0" aria-valuemax="100"
                         ng-style="{width : ( $ctrl.getProgress($ctrl.singleEvent) + '%' ) }">
                        {{$ctrl.getProgress($ctrl.singleEvent)}}% COMPLETE
                    </div>
                </div>
                <div>
                    Language: {{$ctrl.singleEvent.language.name}}
                </div>
                <a class="btn btn-primary btn-xl page-scroll" ng-click="$ctrl.join()">Join</a>
            </div>
        </div>
    </div>
</section>