<aside class="bg-dark extra-padding-top">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{$ctrl.singleEvent.name}}</h2>
        </div>
    </div>
</aside>

<section id="services">
    <div class="container">
        <div class="row col-lg-12 text-center">
            <div class="col-lg-4 col-sm-6">
                <img class="single-event-img half-screen-picture img-responsive center-block" ng-src="{{$ctrl.singleEvent.offer.imagePath}}" alt="Restaurant Logo">
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="col-lg-6 pull-left">
                    <div class="text-left">
                        <label for="language">Language:</label>
                        <span id="language">{{$ctrl.singleEvent.language.name}}</span>
                    </div>
                    <label for="topics">Topics:</label>
                    <div id="topics" class="text-left" ng-repeat="topic in $ctrl.singleEvent.topics">
                        <span>{{topic.name}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div >
                        Topics: {{$ctrl.singleEvent.language.name}}
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                         aria-valuenow="$ctrl.getProgress()"
                         aria-valuemin="0" aria-valuemax="100"
                         ng-style="{width : ( $ctrl.getProgress($ctrl.singleEvent) + '%' ) }">
                        {{$ctrl.getProgress($ctrl.singleEvent)}}% COMPLETE
                    </div>
                </div>
            </div>

            <a class="btn btn-primary btn-xl page-scroll" ng-click="$ctrl.join()">Join</a>
        </div>
    </div>
</section>