<div class="background-img" layout="column" layout-padding="">
    <md-content class="login-form transparent" layout="row">
        <md-card class="mission-text transparent" layout-align="end left">
            <h1>Connect, improve, explore</h1>
            <h2>Speak Up to the challenge</h2>
            <h4>Speak Up enables you to join a language-speaking event and connect with fellow students
                who share similar goals. Choose from the events that best suit your needs and join them. Nothing appropriate?
                You can create an event yourself. With a minimum number of people required,
                our partners will then open their doors for you to meet, talk and enjoy the best discounts
                in town! Hurry up! The event you are looking for may be missing just one more person right now!
            </h4>
        </md-card>
        <span flex></span>
        <md-card class="half-transparent">
            <md-card-content layout="row">
                <md-card class="transparent" layout-padding>
                    <form name="LoginForm">
                        <md-input-container class="md-block">
                            <label>Login</label>
                            <input type="text" name="username" ng-model="$ctrl.login.username" placeholder="User name" required="" />
                            <div ng-messages="LoginForm.username.$error" role="alert" multiple="">
                                <div ng-message="required">Please enter your username.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="$ctrl.login.password" placeholder="Password" required="" />
                            <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                                <div ng-message="required">Please enter your password.</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center">
                            <md-button ng-disabled="!LoginForm.$valid" ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                        </div>
                    </form>
                </md-card>
                <md-card class="transparent" layout-padding flex="nogrow">
                    <md-card-content layout="column" layout-align="center center">
                        <span flex="15" layout-padding>Don't have an account?</span>
                        <span flex="15" layout-padding>Register now!</span>
                        <md-button class="md-raised md-primary">Register</md-button>
                    </md-card-content>
                </md-card>
            </md-card-content>
        </md-card>
    </md-content>
</div>
<div layout="row" layout-padding>
    <span flex="10"></span>
    <md-card layout-padding flex="25">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline text-center">Connect</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <md-icon md-font-library="material-icons md-48" layout-align="center">cached</md-icon>
            <p>See the events your fellow students have initiated and join them. Meet
                the people to talk a language you're interested in and make new friends!
            </p>
        </md-card-content>
    </md-card>
    <span flex></span>
    <md-card layout-padding flex="25">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline text-center">Improve</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <md-icon md-font-library="material-icons md-48" layout-align="center">trending_up</md-icon>
            <p>Choose from language-speaking events that best suit your needs. Want to speak intermediate English? Basic French?
                Or maybe get a taste of Japanese? SpeakUp has you covered!
            </p>
        </md-card-content>
    </md-card>
    <span flex></span>
    <md-card layout-padding flex="25">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline text-center">Explore</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <md-icon md-font-library="material-icons md-48" layout-align="center">search</md-icon>
            <p >Find best offers in the city! Our partners offer the best deals on food and drinks.
                Start a new event or join the one that's almost full and speak up today!
            </p>
        </md-card-content>
    </md-card>
    <span flex="10"></span>
</div>