<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Connect Improve Explore</h1>
            <hr>
            <p>Speak Up to the challenge</p>
            <div class="row">
                <form name="loginForm">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="form-group">
                            <label class="text-faded">Email</label>
                            <input type="email" name="email" ng-model="user.username" required class="form-control">
                            <div ng-show="loginForm.email.$error.email" class="error">Invalid email!</div>
                            <p ng-show="loginForm.email.$error.required &amp;&amp; loginForm.email.$touched"
                                 class="error">
                                Required!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="form-group">
                            <label class="text-faded">Password</label>
                            <input type="password" name="pass" ng-model="user.password" required class="form-control">
                            <p ng-show="loginForm.pass.$error.required &amp;&amp; loginForm.pass.$touched"
                                 class="error">
                                Required!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="form-group">
                            <button ng-click="" ng-disabled="loginForm.$invalid"
                                    class="btn btn-success btn-xl">
                                Login
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
            <a ng-click="$ctrl.initializeRegistration()" data-target="#register" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<!--section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Speak Up enables you to join a language-speaking event and connect with fellow
                    students who share similar goals. Choose from the events that best suit your needs and join them.
                    Nothing appropriate? You can create an event yourself. With a minimum number of people required, our
                    partners will then open their doors for you to meet, talk and enjoy the best discounts in town!
                    Hurry up! The event you are looking for may be missing just one more person right now!</p>
                <a data-target="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section-->

<section class="bg-primary" id="register">
    <div class="container"  ng-if="$ctrl.registrationStep == 1" >
        <h3>Let us know something about you!</h3>
        <div class="row progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Let us start!</div>
        </div>
        <div class="row form-group">
            <label for="nameInput">Name:</label>
            <input ng-model="$ctrl.user.name" type="text" class="form-control" id="nameInput" placeholder="Enter your name" required>
        </div>
        <div class="row form-group">
            <label for="passInput">Password:</label>
            <input ng-model="$ctrl.user.password" type="text" class="form-control" id="passInput" placeholder="Enter password" required>
        </div>
        <div class="row form-group">
            <label for="emailInput">Email:</label>
            <input ng-model="$ctrl.user.email" type="text" class="form-control" id="emailInput" placeholder="Enter email" required>
        </div>
        <!--div class="row form-group">
            <label for="photoInput">Photo:</label>
            <input ng-model="$ctrl.user.photo" type="file" id="photoInput">
            <p class="help-block">You can upload your photo here.</p>
        </div-->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center form-group">
                <button type="submit" class="btn btn-info" ng-click="$ctrl.registrationStep = 2; $ctrl.fetchLanguages();">Continue</button>
            </div>
        </div>
    </div>
    <div class="container" ng-if="$ctrl.registrationStep == 2">
        <div class="row progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">We want to know more about you!</div>
        </div>
        <div class="col-md-2 form-group">
            <p>I would like to improve: </p>
        </div>
        <div class="row" data-ng-repeat="choice in $ctrl.choices">
            <div class="col-md-4 form-group">
                <label for="selectLanguage">Select language: </label>
                <select class="form-control" id="selectLanguage" ng-model="$ctrl.language.language">
                    <option style="display:none;"></option>
                    <option ng-repeat="language in $ctrl.languages" ng-value="language._id">{{language.name}}</option>
                </select>
            </div>
            <div class="col-md-2 form-group">
                <p>at level: </p>
            </div>
            <div class="col-md-4 form-group">
                <label for="selectLevel">Select level: </label>
                <select class="form-control" id="selectLevel" ng-model="$ctrl.language.languageLevel">
                    <option style="display:none;"></option>
                    <option ng-repeat="level in $ctrl.levels" ng-value="level._id">{{level.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="javascript:;" ng-click="$ctrl.moreLanguages()">More languages...</a>
            </div>
            <div class="col-md-6">
                <a href="javascript:;" ng-click="$ctrl.lessLanguages()">Less languages...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center form-group">
                <button type="submit" class="btn btn-info" ng-click="$ctrl.registrationStep = 3; $ctrl.pushLast(); $ctrl.fetchTopics();">Continue</button>
            </div>
        </div>
    </div>
    <div class="container" ng-if="$ctrl.registrationStep == 3">
        <div class="row progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">We are almost there..</div>
        </div>
        <div class="row bar">
            <input type="text" class="search form-control" placeholder="Search for topic.." ng-model="searchString"/>
        </div>
        <div class="row">
            <div class="col-md-4"  data-ng-repeat="topic in $ctrl.topics | filter:searchString" ng-click="$ctrl.toggle(topic)" ng-class="{'selected': topic.selected}">
                <div class="thumbnail">
                    <div class="img-wrapper">
                        <img class="img-responsive" ng-src="{{topic.imagePath}}" alt="No image available"/>
                    </div>
                    <div class="caption text-center"> {{topic.name}} </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center form-group">
                <button type="submit" class="btn btn-info" ng-click="$ctrl.registrationStep = 4; $ctrl.addLangsAndTopics(); $ctrl.dump(); $ctrl.initLocation()">Continue</button>
            </div>
        </div>
    </div>
    <div class="container" ng-if="$ctrl.registrationStep == 4">
        <div class="row progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">One last step remaining..</div>
        </div>
        <div class="row">
            <h5>I would like to meet others in the vicinity of</h5>
        </div>
        <div class="row bar">
            <input type="text" class="search form-control" placeholder="Choose your desired location" ng-model="$ctrl.location" />
        </div>
        <div class="row">
            <map center="{{$ctrl.location}}">
                <marker position="{{$ctrl.location}}"></marker>
            </map>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center form-group">
                <button type="submit" class="btn btn-info" ng-click="$ctrl.addLocationAndReg();">Finish</button>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Connect</h3>
                    <p class="text-muted">See the events your fellow students have initiated and join them. Meet the
                        people to talk a language
                        you're interested in and make new friends!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Improve</h3>
                    <p class="text-muted">Choose from language-speaking events that best suit your needs. Want to speak
                        intermediate English? Basic
                        French? Or maybe get a taste of Japanese? SpeakUp has you covered!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Explore</h3>
                    <p class="text-muted">Find best offers in the city! Our partners offer the best deals on food and
                        drinks. Start a new event or
                        join the one that's almost full and speak up today!</p>
                </div>
            </div>
        </div>
    </div>
</section>
