<md-content class="md-no-momentum">
    <h1>Create event page</h1>
    <br/>
    <form name="EventForm">
        <div layout="row">
            <div layout="column" flex="50">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="$ctrl.model.name" type="text" class="small-width" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <div layout="column" ng-cloak>
                        <md-select placeholder="Language" ng-model="$ctrl.model.language" md-on-open="$ctrl.getLanguages()" class="small-width" required="">
                            <md-option ng-value="language" ng-repeat="language in $ctrl.languages">{{language.name}}</md-option>
                        </md-select>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <div layout="column" ng-cloak>
                        <md-select placeholder="Topic of the event #1" ng-model="$ctrl.topic1" md-on-open="$ctrl.getTopics()" class="small-width" required="">
                            <md-option ng-value="topic" ng-repeat="topic in $ctrl.topics">{{topic.name}}</md-option>
                        </md-select>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <div layout="column" ng-cloak>
                        <md-select placeholder="Topic of the event #2 (optional)" ng-model="$ctrl.topic2" md-on-open="$ctrl.getTopics()" class="small-width">
                            <md-option ng-value="topic" ng-repeat="topic in $ctrl.topics">{{topic.name}}</md-option>
                        </md-select>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <div layout="column" ng-cloak>
                        <md-select placeholder="Topic of the event #3 (optional)" ng-model="$ctrl.topic3" md-on-open="$ctrl.getTopics()" class="small-width">
                            <md-option ng-value="topic" ng-repeat="topic in $ctrl.topics">{{topic.name}}</md-option>
                        </md-select>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" flex="50" md-virtual-repeat-container>
                <h3>Venue</h3>
                <md-list>
                    <md-list-item ng-repeat="offer in $ctrl.offers">
                        <img src="../../../assets/rest.png" class="md-avatar">
                        <div class="md-list-item-text" layout="column">
                            <p><md-checkbox ng-model="offer.selected" ng-click ="$ctrl.uncheckOthers($index); $ctrl.model.offer=offer"></md-checkbox>
                                {{offer.restaurant.name}}, -{{offer.discount}}%</p>
                            <p>* discount valid for a group of {{offer.numOfPeople}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>

        <div layout="row" layout-align="center center">
            <md-button ng-disabled="!EventForm.$valid" class="md-raised md-primary" type="submit" ng-click="$ctrl.createEvent()">Create event</md-button>
        </div>
    </form>
</md-content>
