<div class="container">
    <div class="row spaced">
        <h1 class="text-center">Welcome to SpeakUp</h1>
    </div>
    <div class="row spaced">
        <h4 class="text-center">We would like to know more about you</h4>
    </div>
    <div class="row spaced">
        <ol class="breadcrumb">
            <li class="active">Name</li>
            <li><a href="#">Languages</a></li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Location</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="nameInput">Name:</label>
            <input ng-model="$ctrl.user.name" type="text" class="form-control" id="nameInput" placeholder="Your Name" required>
        </div>
        <div class="col-md-6 form-group">
            <label for="photoInput">Photo:</label>
            <input ng-model="$ctrl.user.photo" type="file" id="photoInput">
            <p class="help-block">You can upload your photo here.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center form-group">
            <button type="submit" class="btn btn-info" ng-click="$ctrl.submit()">Continue</button>
        </div>
    </div>
</div>